.pokemons {
  &__block {
    display: flex;
    justify-content: stretch;
    align-content: stretch;
  }

  &__sidebar {
    padding-top: 120px;
    flex-basis: 30%;
  }

  &__content {
    flex-basis: 100%;
  }
}